/*
	Project OGS
	by => Stephen Giles and Paul Morrell
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 10pt;
		min-width: 1000px;
	}

	.box
	{
		padding: 2em 1.5em 2em 1.5em;
	}

	.box-cta
	{
	}

		.box-cta p
		{
			font-size: 1.5em;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		height: 8em;
	}

		.homepage #header-wrapper
		{
		}

	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
		padding: 0 0 3.5em 0;
	}
	
	#footer-wrapper
	{
		padding: 3.5em 0 0 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		height: 5em;
		line-height: 5em;
		margin-top: 1.5em;
	}
	
		#header h1
		{
			font-size: 2em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav ul
		{
		}
		
			#nav ul li
			{
				margin-left: 0.5em;
				height: 5em;
				line-height: 5em;
			}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		height: 22em;
		margin-bottom: 6em;
	}

		#banner .caption
		{
		}

			#banner .caption h2
			{
				font-size: 2.5em;
			}
			
			#banner .caption p
			{
				font-size: 1.35em;
			}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-top: 2em;
	}

	.homepage #main
	{
		margin-top: -6em;
	}
		
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}
	
		#content .box
		{
			padding: 3em 2em 3em 2em;
		}